.discover {
    padding-top: 90px;
    padding-bottom: 98px;
}

.discover .content {
    padding-top: 4px; 
    background: #ebebeb;
}

.discover .nav-container {
    padding: 0 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    li {
        flex: 1;
        height: 94px;
        a {
            width: 100%;
            height: 100%;
            display: block;
            font-size: 28px;
            color: #4a4949;
            line-height: 94px;
            text-align: center;
        }
        a.discover-active {
            color: #cc0000;
            position: relative;
        }
        a.discover-active::after {
            content: '';
            width: 34px;
            height: 3px;
            background-color: #cc0000;
            position: absolute;
            left: 50%;
            margin-left: -17px;
            bottom: 20px;
        }
    }
}

.discover .sub-content {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    .sub-content-top {
        width: 100%;
        margin-bottom: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 216px;
            height: 210px;
        }
    }
    .sub-content-img1 {
        width: 100%;
        height: 348px;
    }
    .sub-content-img2 {
        width: 100%;
        height: 300px;
    }
}

.discover .sub-content-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
    li {
        width: 210px;
        height: 214px;
        border: 1px solid #ebebeb;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 124px;
            height: 124px;
        }
        p {
            font-size: 22px;
            color: #4a4949;
            line-height: 1.1;
            margin: 6px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        span {
            font-size: 22px;
            color: #cc0000;
            font-weight: bold;
            line-height: 1.1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

