.login {
    width: 100%;
    height:100%;
    background: #fff;
    position: relative;
    & > span {
        color: #555;
        font-size: 20px;
        padding: 20px 30px;
        position: absolute;
        left: 0;
        top: 30px;
    }
    .login-top {
        width: 100%;
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            width: 140px;
            height: 140px;
            background: url('../images/logo.png') no-repeat;
            background-size: cover;
        }
    }
}

.login-content {
    width: 560px;
    margin: 0 auto;
    .login-info {
        width: 100%;
        .login-input {
            width: 100%;
            display: flex;
            border-bottom: 1px solid #e2e2e2; /*no*/
            margin-bottom: 40px;
            padding: 10px 0;
            input {
                flex: 1;
                height: 26px;
                font-size: 22px;
                line-height: 26px;
                color: #555;
                padding: 2px 28px;
                background: none;
            }
            i {
                width: 30px;
                height: 34px;
                margin: 0 18px;
            }
        }
    }
    & > button {
        width: 100%;
        height: 74px;
        background: #d10000;
        font-size: 30px;
        line-height: 74px;
        color: #fff;
        text-align: center;
        margin-bottom: 40px;
        outline: none;
        border: none;
    }
    .login-other {
        width: 100%;
        display: flex;
        padding: 0 2px;
        font-size: 24px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 134px;
        span {
            line-height: 38px;
        }
        span:last-child {
            text-decoration: underline;
        }
    }
    .login-auth {
        display: flex;
        align-items: center;
        justify-content: center;
        .login-auth {
            width: 78px;
            height: 78px;
        }
        span {
            width: 1px; /*no*/
            height: 50px;
            background: #b6b6b6;
            margin: 0 104px;
        }
    }
}

.login-auth-qq {
    background: url('../images/qq.png') no-repeat;
    background-size: 100% 100%;
}

.login-auth-weixin {
    background: url('../images/weixin.png') no-repeat;
    background-size: 100% 100%;
}

.login-user-icon {
    background: url('../images/login1.png') no-repeat;
    background-size: 100% 100%;
}

.login-pass-icon {
    background: url('../images/login2.png') no-repeat;
    background-size: 100% 100%;
}

.login-msg {
    padding: 20px 50px;
    background: rgba(0,0,0, .7);
    border-radius: 10px;
    font-size: 20px;
    line-height: 1.2;
    color: #fff;
    position: fixed;
    white-space: nowrap;
    left: 50%;
    bottom: 150px;
    transform: translateX(-50%);
    z-index: 999;
}